{% load i18n %}
{% load static %}


<nav class="layout-navbar {{container_class}} navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  {% if not navbar_hide_toggle %}
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="fa-solid fa-bars"></i>
    </a>
  </div>
  {% endif %}
  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

    <small class="">{% trans "Welcome Back" %} </small>
    &nbsp
    <h6 class="mb-0 text-primary">{{user.first_name}} {{user.last_name}}</h6>

    <!-- Search -->
    {% comment %} <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search bx-md"></i>
        <input type="text" class="form-control border-0 shadow-none ps-1 ps-sm-2" placeholder="Search..." aria-label="Search...">
      </div>
    </div> {% endcomment %}
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
      {% comment %} <strong class="">{{user.worker_profile.role}}</strong> {% endcomment %}


      <li class="nav-item dropdown">
        <form action="{% url 'set_language' %}" method="post" class="d-inline">
          {% csrf_token %}
          <select name="language" onchange="this.form.submit()">
              <option value="en" {% if request.LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
              <option value="fr" {% if request.LANGUAGE_CODE == 'fr' %}selected{% endif %}>French</option>
          </select>
          <input type="hidden" name="next" value="{{ request.path }}">
      </form>
    </li>


      {% comment %} <li class="nav-item dropdown">
        <form action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <select name="language">
              <option value="en">English</option>
              <option value="fr">French</option>
          </select>
          <button type="submit">Switch Language</button>
      </form>
        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
          <li>
            <a class="dropdown-item" href="{% url 'set_language' %}?next={{ request.path }}&language=en">English</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'set_language' %}?next={{ request.path }}&language=fr">French</a>
          </li>
        </ul>
      </li> {% endcomment %}

    &nbsp
    &nbsp
    &nbsp


      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            <img src="{{ user.worker_profile.profile_image.url }}" alt="User Avatar" class="w-px-10 h-auto rounded-circle">

          </div>
        </a>
   <ul class="dropdown-menu dropdown-menu-end">
  <li>
    <a class="dropdown-item" href="javascript:void(0);">
      <div class="d-flex">
        <div class="flex-grow-1">
          <h6 class="mb-0">{{ user.first_name }} {{ user.last_name }}</h6>
          <small class="text-muted">{{ user.worker_profile.role }}</small>
        </div>
      </div>
    </a>
  </li>
  <li>
    <div class="dropdown-divider my-1"></div>
  </li>
  <li>
    <a class="dropdown-item" href="{% url 'online-workers' %}">
      <i class="fa-regular fa-user me-3"></i><span>Users Online</span>
      <span class="badge bg-success rounded-pill ms-auto">{{ online_users_count }}</span>
    </a>
  </li>
  <li>
    <a class="dropdown-item" href="{% url 'edit_worker_profile' pk=user.worker_profile.id %}">
      <i class="fa-regular fa-user me-3"></i><span>My Profile</span>
    </a>
  </li>
  <li>
    <a class="dropdown-item" href="{% url 'password_change' %}">
      <i class="fa-solid fa-gear me-3"></i><span>Settings</span>
    </a>
  </li>

  <!-- Conditionally show Create/Update Security PIN -->
  {% if not user.worker_profile.security_pin %}
    <li>
      <a class="dropdown-item" href="{% url 'create_security_pin' %}">
        <i class="fa-solid fa-key me-3"></i><span>Create Security PIN</span>
      </a>
    </li>
  {% else %}
    <li>
      <a class="dropdown-item" href="{% url 'update_security_pin' %}">
        <i class="fa-solid fa-key me-3"></i><span>Update Security PIN</span>
      </a>
    </li>
  {% endif %}

  <li>
            <div class="dropdown-divider my-1"></div>
          </li>
          <li>
            <div class="d-grid px-4 pt-2 pb-1">
              <a class="btn btn-danger d-flex" href="{% url 'logout' %}">
                <small class="align-middle">Logout</small>
                <i class="ri-logout-box-r-line ms-2 ri-16px"></i>
              </a>
            </div>
          </li>
</ul>
          {% comment %} <li>
            <a class="dropdown-item" href="javascript:void(0);">
              <span class="d-flex align-items-center align-middle">
                <i class="flex-shrink-0 bx bx-credit-card bx-md me-3"></i><span class="flex-grow-1 align-middle">Billing Plan</span>
                <span class="flex-shrink-0 badge rounded-pill bg-danger">4</span>
              </span>
            </a>
          </li> {% endcomment %}

        </ul>
      </li>
      <!--/ User -->
    </ul>
  </div>
</nav>
