{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {% if is_editing %}
  {% trans "Edit Worker" %}
  {% else %}
  {% trans "Add Worker" %}
  {% endif %}
{% endblock %}

{% block content %}
<!-- Breadcrumbs -->
<nav aria-label="breadcrumb" class="mb-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Dashboard" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'workers' %}">{% trans "Workers" %}</a></li>
    <li class="breadcrumb-item"><a href="">{% trans "Manage Privileges" %}</a></li>
    {% comment %} <li class="breadcrumb-item active" aria-current="page">
      {% if is_editing %}
        Edit Worker
      {% else %}
        Add Worker
      {% endif %}
    </li> {% endcomment %}
  </ol>
</nav>
<!-- End Breadcrumbs -->

<!-- Basic Layout -->
<div class="row">
  <div class="col-xl">
    <div class="card mb-6">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">{% trans "Manage Privileges for" %} {{ worker.user.get_full_name }}</></h5> 
        <hr> 
      </div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}

          {{ form|crispy }}

          <br>
          
          <button type="submit" class="btn btn-primary">{% trans "Save Privileges" %}</button>
          <a href="{% url 'workers' %}" class="btn btn-secondary">{% trans "Back to Workers" %}</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
