{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Order Details{% endblock %}

{% block content %}

<h4 class="text">Order Details</h4>
<hr class="my-8">

<div class="card">
    <div class="row">
        <h5 class="text col-md-2 m-3">#OLD_ORD_{{ old_invoice.id }}</h5>
    </div>
    <hr>

    <div class="container">
        <div class="row">
            <!-- First Column -->
            <div class="col-md-3">
                <small class="text m-3">Branch ID</small>
                <h6 class="m-3">{{ old_invoice.branch.branch_id }}</h6>
            </div>

            <!-- Second Column -->
            <div class="col-md-3">
                <small class="text m-3">Branch Name</small>
                <h6 class="m-3">{{ old_invoice.branch.branch_name }}</h6>
            </div>

            <!-- Third Column -->
            <div class="col-md-3">
                <small class="text m-3">Created By</small>
                <h6 class=" m-3">{{ old_invoice.created_by.user.get_full_name }}</h6>
            </div>
            <!-- Date Column -->
            <div class="col-md-3">
                <small class="text m-3">Date Created</small>
                <h6 class=" m-3">{{ old_invoice.created_at|date:"M d, Y H:i" }}</h6>
            </div>
        </div>
    </div>
    <hr>

    <div class="container">
        <div class="row">
            <!-- First Column -->
            <div class="col-md-4">
                <small class="text m-3">Customer Name</small>
                <h6 class="m-3">{{ old_invoice.customer.customer_name }}</h6>
            </div>

            <!-- Second Column -->
            <div class="col-md-4">
                <small class="text m-3">Sales Representative</small>
                <h6 class=" m-3">{{ old_invoice.sales_rep.user.get_full_name }}</h6>

            </div>

            <!-- Third Column -->
            <div class="col-md-4">
                <small class="text m-3">Payment Method</small>
                <h6 class=" m-3">{{ old_invoice.payment_method }}</h6>
            </div>
        </div>
    </div>
    <hr>

    <div class="card">
        <h5 class="card-header">Order Items</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in invoice_items %}
                        <tr>
                            <td>{{ item.stock.product.product_code }}</td>
                            <td>{{ item.stock.product.generic_name_dosage }}</td>
                            <td>{{ item.price|floatformat:2 }} CFA</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.total_price|floatformat:0 }} CFA</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">No items found for this order.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="col-md-4">
        <h6 class="text m-3">Grand Total</h6>
        <h3 class="text m-3">{{ old_invoice.grand_total|floatformat:2 }} <small>CFA</small></h3>
    </div>
</div>


<div class="mt-3">
    {% if order.status == "Pending" %}
        <!-- Approve or Decline Form -->
        {% if user.worker_profile.role == "Accountant" %}
        <form action="{% url 'approve_or_decline_order' order_id=order.id %}" method="post">
            {% csrf_token %}
            <button type="submit" name="action" value="approve" class="btn btn-success">
                <span class="tf-icons bx bx-check bx-18px me-2"></span> Approve
            </button>
            <button type="submit" name="action" value="decline" class="btn btn-danger">
                <span class="tf-icons bx bx-x bx-18px me-2"></span> Decline
            </button>
        </form>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
