{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load humanize %}

{% block title %}Old Invoice{% endblock %}

{% block content %}
<!-- Hoverable Table rows -->
<div class="card">
  <h5 class="card-header">{% trans "Payment History for Invoice" %} #{{ invoice.id }}</h5>
  
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h5><strong>{% trans "Customer" %}:</strong> {{ invoice.customer.customer_name }}</h5>
      </div>
      <div class="col-md-4 text-end">
        <h5><strong>{% trans "Date" %}:</strong> {{ invoice.created_at|date:"M d, Y" }}</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <!-- First Column -->
        <div class="col-md-2">
            <small class="text m-3">{% trans "Invoice Total" %}</small>
            <h5 class="mx-3">{{ invoice.grand_total|intcomma }} CFA</h5>
        </div>

        <!-- Second Column -->
        <div class="col-md-2">
            <small class="text m-3">{% trans "Total Amount Paid" %}</small>
            <h5 class="mx-3">{{ invoice.amount_paid|intcomma }} CFA</h5>
        </div>

        <!-- Third Column -->
        <div class="col-md-2">
            <small class="text m-3">{% trans "Total Amount Due" %}</small>
            <h5 class=" mx-3">{{ invoice.amount_due|intcomma }} CFA</h5>
        </div>

        <!-- Fourth Column -->
        <div class="col-md-2">
          <small class="text m-3">{% trans "Percentage Paid" %}</small>
          <h5 class=" mx-3">{{ percentage_paid|intcomma }}%</h5>
        </div>

        <!-- Fifth Column -->
        <div class="col-md-2">
          <small class="text m-3">{% trans "Percentage Left" %}</small>
          <h5 class=" mx-3">{{ percentage_left|intcomma }}%</h5>
        </div>
    </div>
  </div>

  <div class="table-responsive text-nowrap">
    <table class="table table-hover table-striped mt-3">
      <thead>
        <tr>
          <th>#</th>
          <th>{% trans "Payment Date" %}</th>
          <th>{% trans "Amount Paid" %}</th>
          <th>{% trans "Payment Method" %}</th>
          <th>{% trans "Account Details" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for payment in payment_history %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ payment.payment_date|date:"d-m-Y" }}</td>
          <td class="text-success"><strong>{{ payment.amount_paid|intcomma }}<small> Frs</small></strong></td>
          <td>{{ payment.payment_mode }}</td>
          <td>{{ payment.account_paid_to }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6" class="text-center">{% trans "No payment history available for this invoice" %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
