{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Create Purchase Order{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl">
    <div class="card mb-6">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Purchase Order / Bon de Commande</h5>
      </div>
      <br>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <!-- Purchase Order Form -->
          {{ po_form|crispy }}

          <br>
          <button type="submit" class="btn btn-primary">Next: Add Items</button>
          
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block page_js %}

<script>
  $(document).ready(function () {
    // Initialize Select2 on the product field
    $("#id_customer").select2({
      placeholder: "Search for a Customer",
      allowClear: true,
      width: "100%",
    });
  });
</script>

<script>
  $(document).ready(function () {
    // Initialize Select2 on the product field
    $("#id_sales_rep").select2({
      placeholder: "Search for a Sales Rep",
      allowClear: true,
      width: "100%",
    });
  });
</script>

<script>
  $(document).ready(function () {
    // Initialize Select2 on the product field
    $("#id_stock").select2({
      placeholder: "Search for a Product",
      allowClear: true,
      width: "100%",
    });
  });
</script>


{% endblock %}
