{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "Credit report" %}{% endblock %}

{% block content %}


<h4 class="text">{% trans "Credit Status/ Credit Report" %}</h4>

<nav aria-label="breadcrumb" class="mb-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Dashboard" %}</a></li>
      <li class="breadcrumb-item active"><a href="{% url 'orders' %}">{% trans "Orders" %}</a></li>
      <li class="breadcrumb-item active"><a href="{{ request.META.HTTP_REFERER|default:'#' }}">{% trans "Order Details" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Credit Report" %}</li>
    </ol>
  </nav>
    

<hr class="my-8">
<a href="{{ request.META.HTTP_REFERER|default:'#' }}" class="btn btn-outline-secondary mb-4">
    ← Back
</a>

<br>

<div class="card">
    <div class="row">
        <h5 class="text col-md-4 m-3">
                {% trans "Customer Credit Report" %}
        </h5>
    </div>
    <hr>

    <div class="container">
        <div class="row">
            <!-- First Column -->
            <div class="col-md-4">
                <small class="text m-3">{% trans "Client Name" %}</small>
                <h6 class="m-3">{{ customer.customer_name }}</h6>
            </div>

            <!-- Second Column -->
            <div class="col-md-4">
                <small class="text m-3">{% trans "Client ID" %}</small>
                <h6 class="m-3">{{ customer.customer_id }}</h6>
            </div>

            <!-- Third Column -->
            <div class="col-md-4">
                <small class="text m-3">{% trans "Report Date" %}</small>
                <h6 class=" m-3">
                    {% if current_invoice %}
                        {{ current_date|date:"Y-m-d" }}
                    {% else %}
                        N/A
                    {% endif %}
                </h6>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- First Column -->
            <div class="col-md-4">
                <small class="text m-3">{% trans "Total Due" %}</small>
                <h6 class="m-3 text-danger">{{ total_due_general|floatformat:0|intcomma }} <small>CFA</small></h6>
            </div>
            
        </div>
    </div>
    <hr>

   

    <div class="card">

        <h5 class="card-header">{% trans "Recent Invoices" %}</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{% trans "Invoice Number" %}</th>
                        <th>{% trans "Invoice Date" %}</th>
                        <th>{% trans "Total Amount" %}</th>
                        <th>{% trans "Paid Amount" %}</th>
                        <th>{% trans "Amount Due" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in current_credit_orders  %}
                        <tr>
                            <td>{{ order.invoice_id }}</td>
                            <td>{{ order.created_at|date:"Y-m-d" }}</td>
                            <td>{{ order.grand_total|floatformat:0|intcomma }} <small>CFA</small></td>
                            <td class="text-success">{{ order.amount_paid|floatformat:0|intcomma }} <small>CFA</small></td>
                            <td class="text-danger">{{ order.calculated_amount_due|floatformat:0|intcomma }} <small>CFA</small></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">{% trans "No credit history found for this customer" %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>

        <br>
        <hr>



        <h5 class="card-header">{% trans "Past Invoices" %}</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{% trans "Invoice Number" %}</th>
                        <th>{% trans "Invoice Date" %}</th>
                        <th>{% trans "Total Amount" %}</th>
                        <th>{% trans "Paid Amount" %}</th>
                        <th>{% trans "Amount Due" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in old_credit_orders  %}
                        <tr>
                            <td>#INV_{{ order.id }}</td>
                            <td>{{ order.created_at|date:"Y-m-d" }}</td>
                            <td>{{ order.grand_total|floatformat:0|intcomma }} <small>CFA</small></td>
                            <td class="text-success">{{ order.amount_paid|floatformat:0|intcomma }} <small>CFA</small></td>
                            <td class="text-danger">{{ order.calculated_amount_due|floatformat:0|intcomma }} <small>CFA</small></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">{% trans "No credit history found for this customer" %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
        
    </div>
</div>


{% endblock %}
