{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Manage Bank Deposit Details" %}{% endblock title %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/dashboards-analytics.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="row gy-6">
  <h3 class=" mb-0 flex-wrap text-nowrap">{% trans "Manage Bank Deposit Details" %}</h3>

  <!-- Hoverable Table rows -->

  <div class="row">
    <div class="col-md-6 col-lg-4 mx-auto"> <!-- Add mx-auto to the column -->
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title text-warning"> <span class="tf-icons ri-notification-fill text-warning ri-16px me-1_5"></span>{% trans "Warning" %}</h5>
          <p class="card-text">{% trans "Are you sure you want to delete" %} {{bank_details.name}}?</p>
          <form method="POST">
            {% csrf_token %}
            {% comment %} {{form}} {% endcomment %}
            <div class="row">
                <div class="col-md-3">
                    <a href="{% url 'add-deposit' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger" type="submit">{% trans "Yes" %}</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>



<!--/ Hoverable Table rows -->

</div>
{% endblock %}
