{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "Order Details" %}{% endblock %}

{% block content %}
{% load tz %}


<h4 class="text">{% trans "Order Details" %}</h4>
<nav aria-label="breadcrumb" class="mb-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Dashboard" %}</a></li>
      <li class="breadcrumb-item active"><a href="{% url 'orders' %}">{% trans "Orders" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Order Details" %}</li>
    </ol>
</nav>
<hr class="my-8">
<a href="{% url 'orders' %}" class="btn btn-outline-secondary mb-4">
    ← Back
</a>

<br>

<div class="card">
    <div class="row">
        <h5 class="text col-md-4 m-3">{{ order.purchase_order_id }}</h5>
    </div>
    <hr>

    <div class="container">
        <!-- Order Information -->
        <div class="row">
            <div class="col-md-3">
                <small class="text m-3">{% trans "Branch ID" %}</small>
                <h6 class="mx-3">{{ order.branch.branch_id }}</h6>
            </div>
            <div class="col-md-3">
                <small class="text m-3">{% trans "Branch Name" %}</small>
                <h6 class="mx-3">{{ order.branch.branch_name }}</h6>
            </div>
            <div class="col-md-3">
                <small class="text m-3">{% trans "Created By" %}</small>
                <h6 class="mx-3">{{ order.created_by.user.get_full_name }}</h6>
            </div>
            <div class="col-md-3">
                <small class="text m-3">{% trans "Date Created" %}</small>
                <h6 class="mx-3">{{ order.created_at|date:"M d, Y H:i" }}</h6>
            </div>
        </div>
    </div>
    <hr>

    <div class="container">
        <!-- More Order Information -->
        <div class="row">
            <div class="col-md-3">
                <small class="text m-3">{% trans "Customer Name" %}</small>
                <h6 class="mx-3">{{ order.customer.customer_name }}</h6>
                {% if 'View Customer Credits' in worker_privileges %}
                <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'customer_credit_report' customer_id=order.customer.id %}'">
                    <span class="tf-icons bx bx-package bx-18px me-2"></span>{% trans "Get Customer Report" %}
                </button>
                
                    
                {% endif %}
            </div>
            <div class="col-md-3">
                <small class="text m-3">{% trans "Sales Representative" %}</small>
                <h6 class="mx-3">{{ order.sales_rep.user.get_full_name }}</h6>
                {% if 'View Sales Rep Credits' in worker_privileges %}
                    <form action="{% url 'sales_rep_credit_history' worker_id=order.sales_rep.id %}" method="get">
                        <button type="submit" class="btn btn-primary">
                            <span class="tf-icons bx bx-file bx-18px me-2"></span> {% trans "Get Credit Report" %}
                        </button>
                    </form>
                {% endif %}
            </div>
            <div class="col-md-3">
                <small class="text m-3">{% trans "Payment Method" %}</small>
                <h6 class="mx-3 text-primary">{{ order.payment_method }}</h6>
            </div>
            <div class="col-md-3">
                <small class="text mx-3">{% trans "Status" %}</small>
                <h6 class="text-warning mx-3">
                    {% if order.status|lower == "pending" %}
                    <span class="badge bg-label-warning me-1">{% trans "Pending" %}</span>
                    {% elif order.status|lower == "approved" %}
                    <span class="badge bg-label-success me-1">{% trans "Approved" %}</span>
                    {% elif order.status|lower == "rejected" %}
                    <span class="badge bg-label-danger me-1">{% trans "Rejected" %}</span>
                    {% else %}
                    <span class="badge bg-label-info me-1">{{ order.status }}</span>
                    {% endif %}
                </h6>
            </div>
        </div>
    </div>

    <hr>
    {% if order.status == "Rejected" %}
    <div class="container">
        <!-- Order Information -->
        <div class="row">
            
            <div class="col-md-3">
                <small class="text m-3">{% trans "Rejection Reason" %}</small>
                <h6 class="m-3">{{ order.notes }}</h6>
            </div>
            
            
        </div>
    </div>
    {% endif %}


<!-- Order Items -->
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">{% trans "Order Items" %}</h5>
        {% if order.status == "Pending" and 'Edit Order Prices' in worker_privileges %}
            <!-- Edit Prices Button -->
            <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editPricesModal">{% trans "Edit Prices" %}</a>

            <!-- Modal -->
            <div class="modal fade" id="editPricesModal" tabindex="-1" aria-labelledby="editPricesModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form action="{% url 'edit_prices' order.id %}" method="post">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title" id="editPricesModalLabel">{% trans "Edit Prices for Order" %}{{ order.id }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="table-responsive text-nowrap">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>{% trans "Product Code" %}</th>
                                                <th>{% trans "Product Name" %}</th>
                                                <th>{% trans "Current Price" %}</th>
                                                <th>{% trans "New Temporary Price" %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in order_items %}
                                            <tr>
                                                <td>{{ item.stock.product.product_code }}</td>
                                                <td>{{ item.stock.product.generic_name_dosage }}</td>
                                                <td>{{ item.effective_price|floatformat:0|intcomma }} CFA</td>
                                                <td>
                                                    <input type="number" name="prices[{{ item.id }}]" class="form-control" step="0.01" min="0" value="{{ item.temp_price|default:item.stock.product.unit_price }}">
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="4" class="text-center">{% trans "No items found for this order" %}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="editPriceNote">{% trans "Reason for Price Change" %}:</label>
                                    <textarea name="edit_price_note" id="editPriceNote" class="form-control" rows="3" placeholder="Enter the reason for the price change"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                                <button type="submit" class="btn btn-success">{% trans "Save Changes" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        {% endif %}
       
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans "Product Code" %}</th>
                    <th>{% trans "Product Name" %}</th>
                    <th>{% trans "Unit Price" %}</th>
                    <th>{% trans "Note" %}</th>
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Total Price" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order_items %}
                <tr>
                    <td>{{ item.stock.product.product_code }}</td>
                    <td>{{ item.stock.product.generic_name_dosage }}</td>
                    <td>{{ item.get_effective_price|floatformat:0|intcomma }} CFA</td>
                    <td>{{ item.reason }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.total_price|floatformat:0|intcomma }} <small>CFA</small></td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">{% trans "No items found for this order" %}</td>
                </tr>
                {% endfor %}
                <!-- Grand Total Row -->
                <tr>
                    <td colspan="4"><strong><h4>{% trans "Grand Total" %}</h4></strong></td>
                    <td><strong><h6>{{total_quantity}}</h6></strong></td>
                    <td class="text-primary"><strong>{{ order.grand_total|floatformat:0|intcomma }} CFA</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>


    {% comment %} <!-- Grand Total -->
    <div class="col-md-4 mt-4">
        <h6 class="text m-3">Grand Total</h6>
        <h3 class="text m-3">{{ order.grand_total|floatformat:0 }} <small>CFA</small></h3>
    </div> {% endcomment %}
</div>

<!-- Action Buttons -->
<div class="mt-3">
    {% if order.status == "Pending" and 'Approve or decline Orders' in worker_privileges %}
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#approveModal" >{% trans "Approve" %}</button>
        
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#rejectModal">
            {% trans "Reject" %}
        </button>
    {% endif %}

    {% if order.status == "Approved" and 'Cancel Order' in worker_privileges %}
        <form method="post" action="{% url 'cancel_order' order.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">{% trans "Cancel" %} {% trans "Order" %}</button>
        </form>
    {% endif %}
</div>

<div class="mt-3">
    {% if order.status == "Approved" and 'Generate Purchase Order' in worker_privileges %}
        <a href="{% url 'generate_purchase_order_pdf' order.id %}" target="_blank" class="btn btn-primary">{% trans "Download Purchase Order PDF" %}</a>
    {% endif %}
</div>

<!-- Approval Modal -->
<div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rejectModalLabel">{% trans "Approve Order" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'approve_order' order.id %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="notes" class="form-label">{% trans "Approval Notes" %}</label>
                        <textarea name="notes" id="notes" class="form-control" rows="4" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="submit" class="btn btn-success">{% trans "Approve" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Reject Modal -->
<div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rejectModalLabel">{% trans "Reject Order" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'reject_order' order.id %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="notes" class="form-label">{% trans "Rejection Notes" %}</label>
                        <textarea name="notes" id="notes" class="form-control" rows="4" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="submit" class="btn btn-danger">{% trans "Reject" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
