{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Order Details{% endblock %}

{% block content %}


  <h4 class="text">Order Details</h4>


<hr class="my-8">



<!-- Hoverable Table rows -->
<div class="card">
    <div class="row">
        <h5 class="text col-md-2 m-3 ">#ORD_01</h5> 
    </div>
    <hr>

<div class="container">
    <div class="row">
        <!-- First Column -->
        <div class="col-md-4">
            <small class="text m-3">Branch ID </small>
            <h6 class="text-info m-3">B01_DLA</h6>
        </div>
        
        <!-- Second Column -->
        <div class="col-md-4">
            <small class="text m-3">Branch Name </small>
            <h6 class="text-primary m-3">Douala Branch</h6>
        </div>
        
        <!-- Third Column -->
        <div class="col-md-4">
            <small class="text m-3">Created By </small>
            <h6 class="text-primary m-3">James Stephen</h6>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <!-- First Column -->
        <div class="col-md-4">
            <small class="text m-3">Client Name </small>
            <h6 class="text-secondary m-3">Thoams Bradley</h6>
        </div>
        
        <!-- Second Column -->
        <div class="col-md-4">
            <small class="text m-3">Sales Rep Name </small>
            <h6 class="text-primary m-3">Frida Nelson</h6>
        </div>
        
        <!-- Third Column -->
        <div class="col-md-4">
            <small class="text m-3">Status </small>
            <h6 class="text-success m-3">Verified</h6>
        </div>
    </div>
</div>

{% comment %} Only the accountant sees this {% endcomment %}
<hr>
<div class="container">
  <div class="row">
      <!-- First Column -->
      <div class="col-md-4">
          <small class="text m-3">Method of Payment </small>
          <h6 class="text-secondary m-3">Credit</h6>
      </div>
      
      <!-- Second Column -->
      <div class="col-md-4">
          <small class="text m-3">Client Credit Score </small>
          <h6 class="text-primary m-3">300</h6>
      </div>
      
      <!-- Third Column -->
      <div class="col-md-4">
          <small class="text m-3">Sales Rep Credit Score </small>
          <h6 class="text-success m-3">200</h6>
      </div>
  </div>
</div>

<hr>

<div class="card">
    <h5 class="card-header">Product Details</h5>
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Product Total</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr>
            <td><span>PRD_001</span></td>
            <td>PARACETAMOL C500</td>
            <td>200</td>
            <td>50</td>
            <td class="text-info">
              10,000 Frs
            </td>
          </tr>
          <tr>
            <td><span>PRD_001</span></td>
            <td>PARACETAMOL C500</td>
            <td>200</td>
            <td>50</td>
            <td class="text-info">
                10,000 Frs
              </td>
          </tr>
          <tr>
            <td><span>PRD_001</span></td>
            <td>PARACETAMOL C500</td>
            <td>200</td>
            <td>50</td>
            <td class="text-info">
                10,000 Frs
              </td>
          </tr>
          <tr>
            <td><span>PRD_001</span></td>
            <td>PARACETAMOL C500</td>
            <td>200</td>
            <td>50</td>
            <td class="text-info">
                10,000 Frs
              </td>
          </tr>
        </tbody>
        
      </table>
      
    </div>
  </div>

</div>
<button type="button" class="btn btn-success my-5" onclick="window.location.href=''">
  <span class="tf-icons bx bx-check bx-18px me-2"></span>Verify
</button> 
<button type="button" class="btn btn-danger my-5" onclick="window.location.href=''">
  <span class="tf-icons bx bx-x bx-18px me-2"></span>Decline
</button>
<button type="button" class="btn btn-info my-5" onclick="window.location.href=''">
  <span class="tf-icons bx bx-dollar-circle bx-18px me-2"></span>Mark as Paid
</button> 
<button type="button" class="btn btn-primary my-5" onclick="window.location.href=''">
    <span class="tf-icons bx bx-receipt bx-18px me-2"></span>Bon de Commande
  </button>
  <button type="button" class="btn btn-secondary my-5" onclick="window.location.href=''">
    <span class="tf-icons bx bx-file bx-18px me-2"></span>Generate Receipt
  </button>
  <button type="button" class="btn btn-primary my-5" onclick="window.location.href=''">
    <span class="tf-icons bx bx-paper-plane bx-18px me-2"></span>Bon de Sortie
  </button>
  <button type="button" class="btn btn-warning my-5" onclick="window.location.href=''">
    <span class="tf-icons bx bx-package bx-18px me-2"></span>Bon de Livraison
  </button>
<!--/ Hoverable Table rows -->




{% endblock %}
