{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Old Invoice{% endblock %}

{% block content %}

{% if user.worker_profile.privileges.all %}
    {% for privilege in user.worker_profile.privileges.all %}
        {% if privilege.name == 'Create Orders' %}
          <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'create-order' %}'">
            <span class="tf-icons bx bx-package bx-18px me-2"></span>Create Order
          </button>
        {% endif %}
    {% endfor %}
{% endif %}

<hr class="my-8">

<!-- Hoverable Table rows -->
<div class="card">
  <h5 class="card-header">Order List</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Invoice ID</th>
          <th>Branch ID</th>
          <th>Created By</th>
          <th>Client</th>
          <th>Sales Rep</th>
          <th>Total Amount</th>
          <th>Created At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for order in orders %}
        <tr>
          <td><span>{{ order.id }}</span></td>
          <td>{{ order.branch.branch_id }}</td>
          <td><span>{{ order.created_by.user.first_name }} {{ order.created_by.user.last_name }}</span></td>
          <td>{{ order.customer.customer_name }}</td>
          <td><span>{{ order.sales_rep.user.first_name }} {{ order.sales_rep.user.last_name }}</span></td>
          <td><strong>{{ order.grand_total }}<small> Frs</small></strong></td>
          
          <td>{{ order.created_at|date:"d-m-Y" }}</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'order_details' order.id %}">
                  <i class="bx bx-book-open me-1"></i> View
                </a>
                {% comment %} 
                <a class="dropdown-item" href="javascript:void(0);" onclick="confirmDelete({{ order.id }})">
                  <i class="bx bx-trash me-1"></i> Delete
                </a> 
                {% endcomment %}
              </div>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="11" class="text-center">No Invoices available</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
</div>
<!--/ Hoverable Table rows -->

<!-- Pagination -->
<div class="d-flex justify-content-center mt-3">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-3">
      {% if orders.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ orders.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      
      {% for num in orders.paginator.page_range %}
      <li class="page-item {% if orders.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endfor %}
      
      {% if orders.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ orders.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>


{% endblock %}
