{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block title %}{% trans "Upload Documents" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl">
    <div class="card mb-6">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">{% trans "Upload Documents" %}</h5>
      </div>

      <div class="container">
        <!-- invoice Information -->
        <div class="row">
            <div class="col-md-3">
                <small class="text m-3">{% trans "Order ID" %}</small>
                <h6 class="mx-3">
                {% if is_return %}
                  {{ order.return_order_id }}
                {% else %}
                  {{ order.purchase_order_id }}
                {% endif %}
                </h6>
            </div>
            <div class="col-md-3">
                <small class="text m-3">{% trans "Branch Name" %}</small>
                <h6 class="mx-3">{{ order.branch.branch_name }}</h6>
            </div>
            <div class="col-md-3">
                <small class="text m-3">{% trans "Customer Name" %}</small>
                <h6 class="mx-3">{{ order.customer.customer_name }}</h6>
            </div>
            <div class="col-md-3">
                <small class="text m-3">{% trans "Sales Rep" %}</small>
                <h6 class="mx-3">{{ order.sales_rep.user.first_name }} {{ order.sales_rep.user.last_name }}</h6>
            </div>
        </div>
    </div>
      <br>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}

          <br>
          <button type="submit" class="btn btn-primary">
            {% if editing %}{% trans "Update Document" %}{% else %}{% trans "Upload Document" %}{% endif %}
        </button>

        {% if editing %}
        <a href="{% url 'upload_purchase_order_document' order.id %}" class="btn btn-secondary">{% trans "Cancel Edit" %}</a>
        {% endif %}

        </form>

      </div>
    </div>


<!-- Hoverable Table rows -->
<div class="card">
  <h5 class="card-header">{% trans "Purchase Order Documents" %}</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{% trans "Document Type" %}</th>
          <th>{% trans "Document" %}</th>
          <th>{% trans "Date Uploaded" %}</th>
          <th>{% trans "Uploaded By" %}</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for document in documents %}
        <tr>
          <td>{{ document.get_document_type_display }}</td>
          <td>
            <a href="{{ document.document.url }}" target="_blank">📄 View Document</a>
          </td>
          <td>{{ document.uploaded_at|date:"d-m-Y" }}</td>
          <td>{{ document.uploaded_by.user.get_full_name }}</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'upload_purchase_order_document' order.id %}?document_id={{ document.id }}">
                    <i class="fa-solid fa-edit me-1"></i> {% trans "Edit" %}
                </a>
                <a class="dropdown-item text-danger" href="{% url 'delete_document' document.id %}"
                  onclick="return confirm('Are you sure you want to delete this document?');">
                  <i class="fa-solid fa-trash me-1"></i> {% trans "Delete" %}
                </a>
              </div>
            </div>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--/ Hoverable Table rows -->


  </div>

</div>
{% endblock %}
