{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Recommendations" %}{% endblock %}

{% block content %}

<button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'new-recommend' %}'">
  <span class="fa-solid fa-plus me-2"></span>{% trans "New Recommendation" %}
</button>

<hr class="my-8">



<!-- Hoverable Table rows -->
<div class="card">
  <h5 class="card-header">{% trans "Recommendations" %}</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{% trans "Product" %}</th>
          <th>{% trans "Quantity" %}</th>
          <th>{% trans "Reason" %}</th>
          <th>{% trans "Date Created" %}</th>
          <th>{% trans "Document" %}</th>
          <th>{% trans "Status" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for recommendation in recommendation %}
        <tr>
          <td> <span>{{recommendation.product}}</span></td>
          <td>{{recommendation.quantity}}</td>

          <td><span class="text  me-1">{{recommendation.reason}}</span></td>
          <td><span class="text  me-1">{{recommendation.date_created}}</span></td>
          <td><a href="{{ recommendation.recommendation_document.url }}" target="_blank">{% trans "View Document" %}</a></td>
          <td><span class="badge bg-label-info me-1">{{recommendation.status}}</span></td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="fa-solid fa-ellipsis-vertical"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);"><i class="fa-solid fa-pen-to-square me-1"></i> {% trans "Edit" %}</a>
                <a class="dropdown-item" href="javascript:void(0);"><i class="fa-solid fa-trash me-1"></i> {% trans "Delete" %}</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--/ Hoverable Table rows -->




{% endblock %}
