{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Add Batch Number" %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<a href="{% url 'products' %}" class="btn btn-outline-secondary mb-4">
  ← Back
</a>

<div class="row">
  <div class="col-xl">
    <div class="card mb-6">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">{% trans "Add Batch Number" %}</h5>
      </div>
      <div class="card-body">
        <form method='POST'>
          {% csrf_token %}
          {{ form|crispy }}

          {% if is_editing %}
            <button type="submit" class="btn btn-warning">{% trans "Update" %}</button>
          {% else %}
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>

</div>

<hr class="my-8">

<form method="GET" action="{% url 'add-batch' %}" class="mb-4">
    <div class="input-group">
        <input type="text" name="search_query" class="form-control"
               placeholder="Search batch number or generic name..." value="{{ search_query }}">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>



<!-- Hoverable Table rows -->
<div class="card">
  <h5 class="card-header">{% trans "Batch Number List" %}</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
        <th>No</th>
          <th>{% trans "Batch Number" %}</th>
          <th>{% trans "BOL Number" %}</th>
          <th>{% trans "Generic Name" %}</th>
          <th>{% trans "Brand Name" %}</th>
          <th>{% trans "Production Date" %}</th>
          <th>{% trans "Exipry Date" %}</th>
          <th>{% trans "Added By" %}</th>
          <th>{% trans "Date Added" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for batch in batches %}
        <tr>
          <td><span>{{forloop.counter}}</span></td>
          <td><span>{{batch.batch_number}}</span></td>
          <td><span>{{batch.bl_number}}</span></td>
          <td><span>{{batch.generic_name.generic_name}}</span></td>
          <td><span>{{batch.generic_name.brand_name}}</span></td>
          <td>{{batch.prod_date}}</td>
          <td>{{batch.expiry_date}}</td>
          <td>{{batch.batch_created_by}}</td>
          <td>{{batch.batch_date_added}}</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="fa-solid fa-ellipsis-vertical"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'edit-batch' batch.id %}">
                  <i class="fa-solid fa-pen-to-square me-1"></i> {% trans "Edit" %}
                </a>
                <a class="dropdown-item" href="{% url 'delete-batch' batch.id %}"><i class="fa-solid fa-trash me-1"></i> {% trans "Delete" %}</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--/ Hoverable Table rows -->



{% if user.is_superuser %}

<hr>

<a href="{% url 'batch-logs' %}" class="text-primary">See Logs</a>

{% endif %}



{% endblock %}


{% block page_js %}


<script>
  $(document).ready(function () {
    // Initialize Select2 on the product field
    $("#id_generic_name").select2({
      placeholder: "Search Generic Name",
      allowClear: true,
      width: "100%",
    });
  });
</script>

{% endblock %}
