{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Poducts{% endblock %}

{% block content %}

{% if user.worker_profile.privileges.all %}
    {% for privilege in user.worker_profile.privileges.all %}
        {% if privilege.name == 'Add Products' %}
          
        <button type="button" class="btn btn-outline-info m-1" onclick="window.location.href='{% url 'add-genericName' %}'">
          <span class="tf-icons bx bx-user-plus bx-18px me-2"></span>Add Generic Name
        </button>
        <span>➡️</span>
        <button type="button" class="btn btn-outline-info m-1" onclick="window.location.href='{% url 'add-batch' %}'">
          <span class="tf-icons bx bx-user-plus bx-18px me-2"></span>Add Batch Number
        </button>
        
        <span>➡️</span>
        
        <button type="button" class="btn btn-outline-info m-1" onclick="window.location.href='{% url 'add-packsize' %}'">
          <span class="tf-icons bx bx-user-plus bx-18px me-2"></span>Add Pack Size
        </button>
        
        <hr>
        <div class="mt-5">
          <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'add-product' %}'">
            <span class="tf-icons bx bx-user-plus bx-18px me-2"></span>Add Product
          </button>
        </div>

        <hr class="my-8">


        {% endif %}
    {% endfor %}
{% endif %}







<!-- Hoverable Table rows -->
<div class="card">
  <h5 class="card-header">Product List</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Product Code</th>
          <th>Brand Name</th>
          <th>Generic Name & Dosage</th>
          <th>Pack Size</th>
          <th>Unit Price</th>
          <th>Batch Number</th>
          <th>Expiry Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for product in products %}
        <tr>
          <td><span>{{product.product_code}}</span></td>
          <td>{{ product.brand_name.brand_name }}</td>
          <td>{{ product.generic_name_dosage.generic_name }}</td>
          <td>{{product.pack_size}}</td>
          <td>{{product.unit_price}}</td>
          <td>{{ product.batch.batch_number }}</td>
          <td>{{ product.batch.expiry_date }}</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                {% if user.worker_profile.privileges.all %}
                    {% for privilege in user.worker_profile.privileges.all %}
                        {% if privilege.name == 'Add Product Prices' %}
                          <a class="dropdown-item" href="{% url 'edit-price' product.id %}"><i class="bx bx-money me-1"></i> Add Price</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                <a class="dropdown-item" href="{% url 'edit-product' product.id %}"><i class="bx bx-edit-alt me-1"></i> Edit Product</a>
                <a class="dropdown-item" href="{% url 'delete-product' product.id %}"><i class="bx bx-trash me-1"></i> Delete</a>
                
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--/ Hoverable Table rows -->


<!-- Pagination -->
<div class="d-flex justify-content-center mt-3">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-3">
      {% if products.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      
      {% for num in products.paginator.page_range %}
      <li class="page-item {% if products.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endfor %}
      
      {% if products.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>




{% endblock %}
