{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Tables - Basic Tables{% endblock %}

{% block content %}

<button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'add-branch' %}'">
  <span class="tf-icons bx bx-plus bx-18px me-2"></span>Add New Branch
</button>

<hr class="my-8">



<!-- Hoverable Table rows -->
<div class="card">
  <h5 class="card-header">Branch List</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Branch ID</th>
          <th>Branch Name</th>
          <th>Address</th>
          <th>Type</th>
          {% comment %} <th>Status</th> {% endcomment %}
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for branch in branch %}
        <tr>
          <td> <span>{{branch.branch_id}}</span></td>
          <td>{{branch.branch_name}}</td>

          <td><span class="text  me-1">{{branch.address}}</span></td>
          <td>{{ branch.get_branch_type_display }}</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'edit-branch' branch.id %}"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                <a class="dropdown-item" href="{% url 'delete-branch' branch.id %}"><i class="bx bx-trash me-1"></i> Delete</a>
              </div>
            </div>
          </td>
        </tr>

        {% endfor %}

      </tbody>
    </table>
  </div>
</div>
<!--/ Hoverable Table rows -->

<!-- Pagination -->
<div class="d-flex justify-content-center mt-3">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-3">
      {% if branch.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ branch.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      
      {% for num in branch.paginator.page_range %}
      <li class="page-item {% if branch.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endfor %}
      
      {% if branch.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ branch.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>


{% endblock %}
