{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Create Stock Request{% endblock %}

{% block content %}
<!-- Basic Layout -->
<div class="row">
  <div class="col-xl">
    <div class="card mb-6">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Stock Request Details</h5> 
      </div>
      <div class="card-body">
        <form>
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="basic-default-fullname">Request ID</label>
              <input type="text" class="form-control" id="basic-default-fullname" placeholder="REQ_01" disabled />
            </div>
            <div class="col-md-6 mb-3">
              <label for="exampleFormControlSelect1" class="form-label">Branch</label>
              <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                <option selected>Select Branch</option>
                <option value="1">B01_DLA</option>
                <option value="2">B02_YDE</option>
                <option value="3">B03_BFM</option>
              </select>
            </div>
          </div>
         
          
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="basic-default-fullname">Status</label>
              <input type="text" class="form-control" id="basic-default-fullname" placeholder="Pending" disabled />
            </div>
          </div>

            <div class="card-body">
              <div class="row">
                <div class="col-md-5 mb-3">
                  <label class="form-label" for="basic-default-fullname">Product Code</label>
                  <input type="text" class="form-control" id="basic-default-fullname" placeholder="Product Code" />
                </div>
                <div class="col-md-5 mb-3">
                  <label class="form-label" for="basic-default-fullname">Quantity</label>
                  <input type="text" class="form-control" id="basic-default-fullname" placeholder="Quantity" />
                </div>
                <div class="col-md-2 mb-3 d-flex align-items-end">
                  <button type="button" class="btn btn-primary w-100">Add</button>
                </div>
              </div>
          </div>
          
          <hr class="my-4">

          <!-- Hoverable Table rows -->
<div class="card">
  <h5 class="card-header">Product Details</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Product Code</th>
          <th>Product Name</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr>
          <td><span>PRD_001</span></td>
          <td>PARACETAMOL C500</td>
          <td>200</td>
          <td>50</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Remove</a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><span>PRD_001</span></td>
          <td>PARACETAMOL C500</td>
          <td>200</td>
          <td>50</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Remove</a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><span>PRD_001</span></td>
          <td>PARACETAMOL C500</td>
          <td>200</td>
          <td>50</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Remove</a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><span>PRD_001</span></td>
          <td>PARACETAMOL C500</td>
          <td>200</td>
          <td>50</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Remove</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      
    </table>
    
  </div>
</div>
          <button type="submit" class="btn btn-primary my-5">Send Request</button>
        </form>
      </div>
    </div>
  </div>
 
</div>
{% endblock %}
