{% extends layout_path %}

{% load static %}
{% load i18n %}
{% load humanize %}
{% block title %}{% trans "Track Stocks" %}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="mb-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Dashboard" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "All Stocks" %}</li>
  </ol>
</nav>

{% comment %} <form method="get" action="{% url 'track-stocks' %}" class="mb-4">
  <div class="mb-3">
    <label for="stock-search" class="form-label">{% trans "Search Stock" %}:</label>
    <input
      type="text"
      name="search_query"
      id="stock-search"
      class="form-control"
      placeholder="{% trans 'Type to search for stock...' %}"
      value="{{ search_query }}"
    />
  </div>

  <!-- Branch Filter -->
  <div class="d-flex align-items-center">
    <label for="branch_filter" class="me-2 mb-0">{% trans "Filter by Branch" %}:</label>
    <select name="branch_filter" id="branch_filter" class="form-select form-select-sm" style="width: 180px;">
      <option value="">{% trans "All" %}</option>
      {% for branch in branches %}
        <option value="{{ branch.id }}" {% if branch.id|stringformat:"s" == branch_filter %}selected{% endif %}>
          {{ branch.branch_name }}
        </option>
      {% endfor %}
    </select>
  </div>

  <button type="submit" class="btn btn-outline-primary btn-sm mt-2">{% trans "Filter & Search" %}</button>
</form> {% endcomment %}


<form method="get" action="{% url 'track-stocks' %}" class="mb-3 d-flex flex-wrap align-items-end">
  <div class="mb-2 d-flex flex-column me-3">
    <label for="stock-search" class="form-label">{% trans "Search Stock" %}:</label>
    <input
      type="text"
      name="search_query"
      id="stock-search"
      class="form-control"
      placeholder="{% trans 'Type to search for stock...' %}"
      value="{{ search_query }}"
    />
  </div>

  <div class="mb-2 d-flex flex-column me-3">
   <label for="branch_filter" class="me-2 mb-0">{% trans "Filter by Branch" %}:</label>
    <select name="branch_filter" id="branch_filter" class="form-select form-select-sm" style="width: 180px;">
      <option value="">{% trans "All" %}</option>
      {% for branch in branches %}
        <option value="{{ branch.id }}" {% if branch.id|stringformat:"s" == branch_filter %}selected{% endif %}>
          {{ branch.branch_name }}
        </option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-2 d-flex align-items-center">
    <button type="submit" class="btn btn-primary">{% trans "Search & Filter" %}</button>
  </div>
</form>






  {% comment %} <div class="mb-3">
  <label for="stock-search" class="form-label"></label>
  <input
    type="text"
    id="stock-search"
    class="form-control"
    placeholder="{% trans 'Type to search for stock...' %}"
  />
</div> {% endcomment %}

<!-- Table displaying the stocks -->
<div class="card">
  <h5 class="card-header">{% trans "Stock Details" %}</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{% trans "No" %}</th>
          <th>{% trans "Product Code" %}</th>
          <th>{% trans "Branch ID" %}</th>
          <th>{% trans "Branch Name" %}</th>
          <th>{% trans "Generic Name" %}</th>
          <th>{% trans "Brand Name" %}</th>
          <th>{% trans "Batch Number" %}</th>
          <th>{% trans "Beginnig Inventory" %}</th>
          <th>{% trans "Added Inventory" %}</th>
          <th>{% trans "Total" %}</th>
          <th>{% trans "Total Transfered" %}</th>
          <th>{% trans "Total Sold" %}</th>
          <th>{% trans "Total Samples" %}</th>
          <th>{% trans "Total Damaged" %}</th>
          <th>{% trans "Total Sickness" %}</th>
          <th>{% trans "Available Inventory" %}</th>
          <th>{% trans "Status" %}</th>
          <th>{% trans "Date Added" %}</th>
        </tr>
      </thead>
      <tbody id="stock-table-body" class="table-border-bottom-0">
        {% for stock in stocks %}
          <tr data-product-code="{{ stock.product.product_code }}" data-generic-name="{{ stock.product.generic_name_dosage }}">
            <td>{{ forloop.counter|add:offset }}</td>
            <td>{{ stock.product.product_code }}</td>
            <td>{{ stock.branch.branch_id }}</td>
            <td>{{ stock.branch.branch_name }}</td>
            <td>{{ stock.product.generic_name_dosage }}</td>
            <td>{{ stock.product.brand_name.brand_name }}</td>
            <td>{{ stock.product.batch.batch_number }}</td>
            <td>{{ stock.fixed_beginning_inventory|intcomma }}</td>
            <td>{{ stock.quantity|intcomma }}</td>
            <td>{{ stock.total_inventory|intcomma }}</td>
            <td>{{ stock.quantity_transferred|intcomma }}</td>
            <td>{{ stock.total_sold|intcomma }}</td>
            <td>{{ stock.samples_quantity|intcomma }}</td>
            <td>{{ stock.damaged_quantity|intcomma }}</td>
            <td>{{ stock.sickness_quantity|intcomma }}</td>
            <td>{{ stock.total_stock|intcomma }}</td>
            <td>
              {% if stock.total_stock == 0 %}
                <span class="badge bg-label-danger">{% trans "Out of Stock" %}</span>
              {% elif stock.total_stock >= 200 %}
                <span class="badge bg-label-success">{% trans "In Stock" %}</span>
              {% else %}
                <span class="badge bg-label-warning">{% trans "Low Stock" %}</span>
              {% endif %}
            </td>
            <td>{{ stock.date_added }}</td>

          </tr>
        {% empty %}
          <tr>
            <td colspan="6" class="text-center text-muted">{% trans "No stock to display yet" %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Pagination -->
<div class="d-flex justify-content-center mt-3">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-3">
      {% if stocks.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ stocks.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      {% for num in stocks.paginator.page_range %}
      <li class="page-item {% if stocks.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endfor %}

      {% if stocks.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ stocks.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

{% endblock %}

{% block page_js %}

  {% comment %} <script>
    $(document).ready(function () {
      // Handle the input in the search field
      $("#stock-search").on("keyup", function () {
        const searchText = $(this).val().toLowerCase(); // Get the typed value, converted to lowercase

        // Loop through table rows and filter based on the input
        $("#stock-table-body tr").each(function () {
          const rowText = $(this).text().toLowerCase(); // Get the text content of the row
          if (rowText.includes(searchText)) {
            $(this).show(); // Show rows that match the search input
          } else {
            $(this).hide(); // Hide rows that don't match
          }
        });
      });
    });
  </script> {% endcomment %}

{% comment %} <script>
  $(document).ready(function () {
    // Initialize Select2 for product search
    $("#product-search").select2({
      placeholder: "Search for a product",
      allowClear: true,
      width: "100%",
    });

    // On product selection, filter the table rows
    $("#product-search").on('change', function() {
      var searchQuery = $(this).val().toLowerCase();

      // Show all rows first, then filter them
      $("#stock-table-body tr").each(function() {
        var productCode = $(this).data('product-code').toLowerCase();
        var genericName = $(this).data('generic-name').toLowerCase();

        // Check if the row matches the search query (either product code or generic name)
        if (productCode.includes(searchQuery) || genericName.includes(searchQuery)) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    });
  });
</script> {% endcomment %}

{% endblock %}
