{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Track Stocks{% endblock %}

{% block content %}
<span class="text me-2">Select Branch  to Load Stock Levels</span>
<div class="my-3">
  <button type="button" class="btn btn-outline-primary me-2">Douala Stocks</button>
<button type="button" class="btn btn-outline-primary me-2">Yaounde Stocks</button>
<button type="button" class="btn btn-outline-primary">Bafoussam Stocks</button>
</div>


<hr class="my-5">

<button type="button" class="btn btn-outline-secondary mb-5" onclick="window.location.href='{% url 'update-stock' %}'">
  <span class="tf-icons bx bx-package bx-18px me-2"></span>Update Stock
</button>

<!-- Hoverable Table rows -->
<div class="card">
  <h5 class="card-header">Stock Details<small class="text-body float-end text-primary">Douala Branch</small></h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Branch ID</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr>
          <td><span>PRD_001</span></td>
          <td><span>B01_DLA</span></td>
          <td>PARACETAMOL C500</td>
          <td class="fw-medium">300</td>
          <td><span class="badge bg-label-success me-1">In Stock</span></td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item text-secondary" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Reqest</a>
                {% comment %} <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a> {% endcomment %}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><span>PRD_001</span></td>
          <td><span>B01_DLA</span></td>
          <td>PARACETAMOL C500</td>
          <td class="fw-medium">100</td>
          <td><span class="badge bg-label-warning me-1">Low</span></td>

          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item text-warning" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Request</a>
                {% comment %} <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a> {% endcomment %}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><span>PRD_001</span></td>
          <td><span>B01_DLA</span></td>
          <td>PARACETAMOL C500</td>
          <td class="fw-medium">300</td>
          <td><span class="badge bg-label-success me-1">In Stock</span></td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item text-secondary" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Request</a>
                {% comment %} <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a> {% endcomment %}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><span>PRD_001</span></td>
          <td><span>B01_DLA</span></td>
          <td>PARACETAMOL C500</td>
          <td class="fw-medium">40</td>
          <td><span class="badge bg-label-danger me-1">Re-Order</span></td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item text-warning" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Request</a>
                {% comment %} <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a> {% endcomment %}
              </div>
            </div> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--/ Hoverable Table rows -->




{% endblock %}
