{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Sales Rep List{% endblock %}

{% block content %}

<button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'add-workers' %}'">
  <span class="tf-icons bx bx-user-plus bx-18px me-2"></span>Add Sales Rep
</button>

<hr class="my-8">



<!-- Hoverable Table rows -->
<div class="card">
  <h5 class="card-header">Sales Rep List</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Sales Rep ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Branch</th>
          <th>Manager</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for salesRep in salesRep %}
        <tr>
          <td><span>{{salesRep.employee_id}}</span></td>
          <td><span>{{salesRep.user.first_name}}</span></td>
          <td><span>{{salesRep.user.last_name}}</span></td>
          <td>{{salesRep.telephone}}</td>
          <td>{{salesRep.user.email}}</td>
          <td>{{ salesRep.branch.branch_name }}</td>
          <td>{{ salesRep.manager }}</td>

          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                {% if 'View Customer Credits' in worker_privileges %}
                  <a class="dropdown-item" href="{% url 'sales_rep_credit_history' worker_id=salesRep.id %}"><i class="bx bx-credit-card me-1"></i> View Credits</a>
                {% endif %}
                
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--/ Hoverable Table rows -->




{% endblock %}
