{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Customer List{% endblock %}

{% block content %}

<button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'add-customers' %}'">
  <span class="tf-icons bx bx-user-plus bx-18px me-2"></span>Add Customer
</button>

<hr class="my-8">



<!-- Hoverable Table rows -->
<div class="card">
  <h5 class="card-header">Customer List</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Client ID</th>
          <th>Name</th>
          <th>Postal Code</th>
          <th>Sales Rep</th>
          <th>Contact Person</th>
          <th>Telephone</th>
          <th>Email</th>
          <th>Agreement Number</th>
          <th>Tax Payer Number</th>
          <th>Location Plan</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">

        {% for customer in customers %}
        <tr>
          <td><span>{{customer.customer_id}}</span></td>
          <td>{{customer.customer_name}}</td>
          <td>{{customer.postal_code}}</td>
          <td>{{customer.sales_rep.agent_firstName}} {{customer.sales_rep.agent_lastName}}</td>
          <td>{{customer.contact_person}}</td>
          <td>{{customer.telephone}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.agreement_number}}</td>
          <td>{{customer.tax_payer_number}}</td>
          <td><a href="{{ customer.location_plan.url }}" target="_blank">View Location Plan</a></td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'edit-customer' customer.id %}"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                <a class="dropdown-item" href="{% url 'delete-customer' customer.id %}"><i class="bx bx-trash me-1"></i> Delete</a>
              </div>
            </div>
          </td>
        </tr>
        {% comment %} {% empty %}
        <div>
          <p>No Customers yet</p>
        </div> {% endcomment %}

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--/ Hoverable Table rows -->




{% endblock %}
