{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Approved Request Details{% endblock %}

{% block content %}


  <h4 class="text">Aproved Request Details</h4>


<hr class="my-8">



<!-- Hoverable Table rows -->
<div class="card">
    <div class="row">
        <h5 class="text col-md-2 m-3 ">#TRANS_01DLA</h5> 
    </div>
    <hr>

<div class="container">
    <div class="row">
        <!-- First Column -->
        <div class="col-md-4">
            <small class="text m-3">Branch ID </small>
            <h6 class="text-info m-3">B01_DLA</h6>
        </div>
        
        <!-- Second Column -->
        <div class="col-md-4">
            <small class="text m-3">Branch Name </small>
            <h6 class="text-primary m-3">Douala Branch</h6>
        </div>
        
        <!-- Third Column -->
        <div class="col-md-4">
            <small class="text m-3">Created By </small>
            <h6 class="text-primary m-3">James Stephen</h6>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        
        <!-- Third Column -->
        <div class="col-md-4">
            <small class="text m-3">Status </small>
            <h6 class="text-success m-3">Approved</h6>
        </div>
    </div>
</div>

<hr>

<div class="card">
    <h5 class="card-header">Product Details</h5>
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr>
            <td><span>PRD_001</span></td>
            <td>PARACETAMOL C500</td>
            <td>200</td>
            <td>50</td>
            
          </tr>
          <tr>
            <td><span>PRD_001</span></td>
            <td>PARACETAMOL C500</td>
            <td>200</td>
            <td>50</td>
            
          </tr>
          <tr>
            <td><span>PRD_001</span></td>
            <td>PARACETAMOL C500</td>
            <td>200</td>
            <td>50</td>
            
          </tr>
          <tr>
            <td><span>PRD_001</span></td>
            <td>PARACETAMOL C500</td>
            <td>200</td>
            <td>50</td>
            
          </tr>
        </tbody>
        
      </table>
      
    </div>
  </div>

</div>

<button type="button" class="btn btn-info my-5" onclick="window.location.href=''">
    <span class="tf-icons bx bx-receipt bx-18px me-2"></span>Generate Bon De Reception
  </button> 

<!--/ Hoverable Table rows -->




{% endblock %}
